<%= erb :'partials/_header' %>

      <h2>Edit a squad</h2>
      <div class="inline dataHeader">
        <span><h3><label for="name">Squad Name</label></h3></span>
        <span><label for="mascot">Mascot</label></span>
        <span>&nbsp;</span>
      </div>
      <div class="inline data">
        <form action="/squads/<%= @squad["squad_id"] %>" method="POST">
          <span>
            <input type="text" name="name" id="name" value="<%= @squad["name"] %>" autofocus tabindex=1>
          </span>
          <span>
            <input type="text" name="mascot" id="mascot" value="<%= @squad["mascot"] %>" tabindex=2>
          </span>
          <input type="hidden" name="_method" value="PUT">
          <input type="submit" value="Done" class="done">
        </form>
      </div>
      <div>
        This squad has&nbsp;<%= @students.count %>&nbsp;students
      </div>

<%= erb :'partials/_footer' %>

<!--
<span class="rowTightLeft">
  <a href="/squads/< %= @squad["squad_id"] %>/students">Edit Students</a> <! -- no href but jQuery show an indented list under the squad's info - - >
</span>
-->