<%= erb :'partials/_header' %>

<!--       if more that one squad, plural, if just one singular, if no squads, don't show the layout but display "There are no squads "-->
      <h2>All squad(s)</h2>
      <div class="inline dataHeader">
        <span><h3>Squad Name</h3></span>
        <span>Mascot</span>
        <span>Delete a squad</span>
      </div>
      <% @squads.each do |squad| %>
        <div class="inline data">
          <span class="rowTightLeft">
            <a href="/squads/<%= squad["squad_id"] %>">More info</a>
          </span><!-- 
          <span class="rowTightLeft">
            <a href="/squads/<    %= squad["squad_id"] %>/edit">Edit</a>
          </span> -->
          <span>
            <h3>
              <a href="/squads/<%= squad["squad_id"] %>/edit" class="text-capitalize">
                <%= squad["name"] %>
              </a>
            </h3>
          </span>
          <span class="text-capitalize"><%= squad["mascot"] %></span>
          <span>
            <form action="/squads/<%= squad["squad_id"] %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="X" class="delete"> <!-- ON HOVER ==> show "Delete this Squad?<br>Must not have any students assigned to it." -->
            </form>
          </span>
        </div>
      <% end %>

<% @squads.each do |squad| %>
<%= squad %><br>
<% end %>
<div class="spacer">That's all folks!</div>

<%= erb :'partials/_footer' %>